!!!
%html
  
  %head
    %title Capisce?
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/0bbc1c0578.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  
  %body
    
    %header
      .logo
        %h2 LOGO
        = link_to "Capische?", root_path, class: "textlogo"
        -# %p.textlogo Capische?
      %i.fab.fa-searchengin
      .search
      - unless user_signed_in? 
        = link_to "Sign In", new_user_session_path, class: "sign in"
        = link_to "Sign Up", new_user_registration_path, class: "sign up"
      - else
        %p.new-topic New Topic
        = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign in"
        = link_to "#{@user.username}", root_path, class: "sign up"
    = yield
    
    %footer
      %h1.placeholder1 This is a Footer
      %h1.placeholder2 This is a Footer